[submodule "vim/pack/my-packages/start/vim-elixir"]
	path = vim/pack/my-packages/start/vim-elixir
	url = https://github.com/elixir-editors/vim-elixir.git
[submodule "vim/pack/my-packages/start/surround"]
	path = vim/pack/my-packages/start/surround
	url = https://tpope.io/vim/surround.git
[submodule "vim/pack/my-packages/start/repeat"]
	path = vim/pack/my-packages/start/repeat
	url = https://tpope.io/vim/repeat.git
[submodule "vim/pack/my-packages/start/alchemist.vim"]
	path = vim/pack/my-packages/start/alchemist.vim
	url = https://github.com/slashmili/alchemist.vim.git
[submodule "vim/pack/my-packages/start/coc.nvim"]
	path = vim/pack/my-packages/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "vim/pack/my-packages/start/vim-closetag"]
	path = vim/pack/my-packages/start/vim-closetag
	url = https://github.com/alvan/vim-closetag.git
[submodule "vim/pack/my-packages/start/vim-test"]
	path = vim/pack/my-packages/start/vim-test
	url = https://github.com/vim-test/vim-test.git
[submodule "vim/pack/my-packages/start/blamer.nvim"]
	path = vim/pack/my-packages/start/blamer.nvim
	url = https://github.com/APZelos/blamer.nvim.git
[submodule "vim/pack/my-packages/start/fzf"]
	path = vim/pack/my-packages/start/fzf
	url = https://github.com/junegunn/fzf.git
